@font-face {
    font-family: edition;
    src: url(fonts/Edition-BxnV.ttf);
}

@font-face {
    font-family: caviar;
    src: url(fonts/CaviarDreams-Wr2O.ttf);
}

.flex-container{
    
    display: flex;
    padding-bottom: 20px;
    margin-top: 100px;
   
  height: 350px;
  justify-content: center;
}



#contact-head{
    justify-self: center;
    text-align: center;
    animation: stretch 3s ease infinite alternate;
    font-family: edition;
    padding-right: 30px;
}

@keyframes stretch{
    from{font-size:medium;}
    to{font-size: larger;}
}

#eye-icon{
    float:left;
  
    margin-right: 60px;
}
#github-icon{
    float:left;
    margin-top:50px;
    margin-right: 60px;
}
#linkedin-icon{
    float:left;
    margin-top:50px;
    margin-right: 60px;
}

#walk-icon{
    float:right;
}


/* CSS */
#home-button{
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;

  font-family: caviar;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 8px 15px;
  position: relative;
  text-align: center;
  width: auto;
  float:right;
  margin-left: 20px;
  margin-top: 25px;

}

@media (max-width:850px) {
    .flex-container{
        display: flex;
        padding-bottom: 20px;
        margin-top: 50px;
       flex-direction: column;
      height: 250px;
      object-fit: cover;
      justify-content: center;
      align-items:center;
    }
    #github-icon{

        margin-top:10px;
        margin-right: 10px;
        transform: translateY(+50%);
    }
    #linkedin-icon{
        float:left;
        margin-top:10px;
        margin-right: 10px;
        transform: translateY(+50%);
    }
    #eye-icon{
    float:left;
    transform: translateY(+50%);
    margin-right: 20px;
}
    #contact-head{
    transform: translateY(+60%);
    padding-right:0px;
    margin-top:10px;
    }
    #walk-icon{
        float:right;
        margin-left: 30px;
        transform: translateY(150%);
    }
    #home-button{
        background-color: #FFFFFF;
        border: 1px solid #222222;
        border-radius: 8px;
        box-sizing: border-box;
        color: #222222;
        cursor: pointer;
        transform: translateY(700%);
        font-family: caviar;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        margin: 0;
        outline: none;
        padding: 8px 15px;
        position: relative;
        text-align: center;
        width: auto;
        float:right;
        margin-left: 20px;
        margin-top: 25px;
      
      }
}