@font-face {
    font-family: storica;
    src: url(Storica-Regular.ttf);
}
.sub-page1{
    text-align: center;
    font-family: storica;
    font-size: 14px;
}



#Header{
    text-align:center;
    background-color: #3d246cb5;
    color: #FFDBC3;
    text-shadow: #3d246cb5;
    
}

body{
    background-color: #9f91cc5e;
}

#advances{
    
    background-color: #FFDBC3;
    padding:20px;
    overflow: hidden;
    display: inline-block;
    margin-right: 20px;
    width:300px;
    margin-top: 20px;
    text-align: center;
    background-image:linear-gradient( rgba(35, 35, 39, 0.957), rgba(217, 210, 215, 0.317)),url("advance-jpg.jpg");
    z-index: 5;
    color:#FFDBC3;
    box-shadow: 17px 18px 37px 9px rgba(0,0,0,0.75);
    
}
#advances:hover{
    
    transform: translateY(-15px);
    transition: 500ms;
}
.contact{
    background-image:linear-gradient( rgba(35, 35, 39, 0.925), rgba(217, 210, 215, 0.317)), url("contact-us-img.jpg");
    padding:20px;
    overflow: hidden;
    display:inline-block;
    width:300px;
    margin-top: 20px;
    text-align: center;
    box-shadow:  17px 18px 37px 9px rgba(0,0,0,0.75);

    font-size: 32px;
}

.contact:hover{
    transform: translateY(-15px);
    transition: 500ms;
    
}
.flex-container{
    display: flex;
   
    
    padding-bottom: 20px;
    margin-top: 100px;
   
  height: 350px;
  justify-content: center;
  
  
  
}

#contact{
    margin-top:60px;
    color:#FFDBC3;
}

#explore-button{
 margin-top:30px;
}